.signup-container {
  width: 100%;
  .signup-header {
    text-align: center;
    img {
      width: 200px;
    }
  }
  .signup-content {
    background-color: #fff;
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .signup-container {
    width: 700px;
    margin: 0 auto;
    .signup-header {
      text-align: center;
      img {
        width: 300px;
      }
    }
    .signup-content {
      padding: 30px;
    }
  }
}
