<div class="top-container">
  <header class="main-header">
    <h1 id= "header-logo" class= "header-logo">
      <%= link_to root_path do %>
        <span>youange</span>
      <% end %>
    </h1>
    <div class="header-icon" id="baseMenu">
      <ul class="clearfix">
        <li class="base">
        </li>
        <li class="cart">
          <%= link_to root_path do %>
          <i class="fas fa-shopping-cart"></i>	
          <% end %>
        </li>
      </ul>
    </div>
  </header>
  <div class="page-home">
  </div>
</div>